/* Apply a reset to remove default list styling */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation bar */
nav {
  background-color: #333;
  color: white;
}

/* Style the navigation links */
nav ul {
  display: flex;
  justify-content: flex-end; /* Align the links to the right */
}

nav li {
  margin-left: 20px; /* Add some space between each link (adjust margin-left instead of margin-right) */
}

/* Style the links */
nav a {
  color: white;
  text-decoration: none;
}

/* Apply hover effect */
nav a:hover {
  text-decoration: underline;
}



/* About */

  .About_Hi {
   color:blue;
   font-size: 20px;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bolder;
  }

  .About_Hi_FullNames{
    color:black;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  }
  /* #475569 */

  .About_Hi_TitleJob{
    color: #475569;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  }

  .About_Hi_TitleJob{
    color: #475569;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  }

  .About_Hi_TitleJobDescription{
    color: #475569;
   
    font-family: 'Courier New', Courier, monospace;
   
  }

  .About{
    margin-top: 40px;
  }
  .About_Img_Contant{
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  .About_Resume{
    border: 2px solid #0062ff; 
    padding: 10px;
    border-radius: 5px; 
    width: 150px;
  }

  .About_Resume_Resume{
    color: black;
  }

  .About_Resume_Resume button {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

background-color: white;
border: 0px;


  }